<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <table class="table table-hover">
                    <thead>
                        <tr class="br-success text-center">
                            <td colspan="6"><a href="add">Them san pham</a></td>
                        </tr>
                        <tr class="bg-pr">
                         
                            <th>ID</th>
                            <th>description</th>
                            <th>img</th>
                            <th>Edit-Delete</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <% data.rows.forEach(function(item){%>
                            <tr>
                                    <td><%= item.id%></td>
                                    <td><%= item.description%></td>
                                    <td><img src="../upload/<%= item.img%>" alt="2" width="100px"></td>
                                    <td><a href="edit/<%= item.id%>">Edit</a> - <a onclick="confirm('Are you sure?')" href="delete/<%= item.id%>">Delete</a></td>
                            </tr>
                        <%})%>
                        
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>